.main_page_row{
    height:100px;
}

div {
    text-align: center;
}

.main_border{
    color: #6C7275;
}

.note_button {
    margin-bottom: 50px;
}

.verticalLine {
    border-left: thin solid #020202;
    border-right: thin solid #020202;
}

.priority_drop_down {
    margin-top: 10px;
}

.importance_label {
    float: left;
    position: relative; 
    top: -50px;
    left: -40px;
}
