<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
    <h1>Body:</h1>
    {% block content %}{% endblock %}
    {% block footer %}
     <div> 
        <hr>
        <p>Thanks for visiting my site.</p>
        {% endblock %}
    </div>
</body>
</html>
