<!DOCTYPE html>   
<html lang="ru">  
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/main.css" rel="stylesheet" type="text/css">
</head>
<body>
<script type="text/javascript" src="/static/js/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="brand">Qolt's</div>
            <ul class="nav">
                <li><h1>NOTES</h1></li>
            </ul>
        </div>
    </div>
</div>

<div class="row main_page_row">
</div>

    {% block content %}{% endblock %}
    {% block footer %}
        <hr>
    {% endblock %}
</body>
</html>
