<div class="btn-group">
    <button type="button" id="edit_note_btn" class="btn note_button">Edit note</button>
    <a href="{%url delete_note%}{{note_id}}">
        <button type="button" id="edit_note_btn" class="btn note_button">Delete note</button>
    </a>
</div>
<div class="hero-unit" id="{{note_id}}">
    <div class="row-fluid">
        <div class="span1">
            <div align="right" class="importance_label" rel="note_edit_tooltip" title="Priority">
                {% if importance == 'Very High' %}
                    <span class="label label-important">{{importance}}</span>
                {%endif%}
                {% if importance == 'High' %}
                    <span class="label label-warning">{{importance}}</span>
                {%endif%}
                {% if importance == 'Normal' %}
                    <span class="label label-success">{{importance}}</span>
                {%endif%}
                {% if importance == 'Low' %}
                    <span class="label label-info">{{importance}}</span>
                {%endif%}
            </div>
        </div>
        <div class="span12">
            <div rel="note_edit_tooltip" title="Double click to edit note">
                {% autoescape off %}{{note_text }}{% endautoescape %}
            </div>
        </div>
    </div>
</div>
