{% extends "base.html" %}

{% block title %}Notes list{% endblock %}

{% block content %}

<script>
$(function() {
    $("#notes_menu").load("{% url notes_menu %}", function(){
        $("#li_{{note_id}}").addClass("active");     // add active class to the first note in list
    });
    $("div.span6").load("{% url note_content%}{{note_id}}/ajax"); // load first note

    function load_note_content(event){ // load note content
        $("div.span6").bind('dblclick', edit_note);
        var url = $(this).attr("href");
        $("div.span6").load(url + '/ajax', call_wysiwyg);
        history.pushState({id: 'NOTE_ID'}, '', url); 
        add_active_class($(this).parent("li"));
        event.preventDefault();
    };
    $('body').on('click','#notes_list_ul a', load_note_content);

    function add_active_class(element){     // add active class to notes list
        $("li.notes_list_li").removeClass("active");
        element.addClass("active");
    };

    function create_note() {   //create note function.
        var url = $(this).parent("a").attr("href");
        $("div.span6").load(url, call_wysiwyg);
        $("div.span6").unbind('dblclick');
        return false;
    };
    $('body').on('click','#create_note_btn', create_note);

    function call_wysiwyg_with_content() {
        call_wysiwyg();
        $('#editor').html($('#id_text').val());
    };

    function edit_note (){                       //edit note function. Calling edit form.
        var note_id = $("div.hero-unit").attr("id");
        $("div.span6").load("{% url edit_note%}" + note_id, call_wysiwyg_with_content);
        $("div.span6").unbind('dblclick');
    };
    $('body').on('click','#edit_note_btn', edit_note);

    $(".note_text_area").dblclick(edit_note);    // calling edit_note function

    $('body').tooltip({                          // show tooltip function
        selector: "[rel=note_edit_tooltip]", 
        placement: "left", 
    });
    
    function call_wysiwyg() {
        initToolbarBootstrapBindings();  
        $('#editor').wysiwyg({ fileUploadError: showErrorAlert} );
        window.prettyPrint && prettyPrint();
    };

    function save_note() {
         var r = $('#editor').html();
         $("#id_text").val(r);
    };
    $('body').on('click','.save_note_btn', save_note);
});
</script>
<div class="container-fluid ">
  <div class="row-fluid">
    <div class="span4 offset1">
        <a href="{% url create_note%}">
            <button type="button" id="create_note_btn" class="btn note_button">Create note</button>
        </a>
        <div id="notes_menu">
        </div>
      <!--Sidebar content-->
    </div>
    <div class="span6 note_text_area">
      <!--Body content--> 
    </div>
  </div>
</div>
{% endblock %}
